<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <contextName>bd-themis_admin-svc</contextName>
    <property name="log.dir" value="bd-themis_admin-svc/logs"/>
    <property name="log.pattern" value="%red(%d{yyyy-MM-dd HH:mm:ss}) %green([%thread]) %highlight(%-5level) %boldMagenta(%logger{36}.%M[%line]) - %gray(%msg%n)"/>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <encoder charset="UTF-8">
            <pattern>${log.pattern}</pattern>
        </encoder>
    </appender>

    <appender name="infoAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.dir}/themis_admin.log</file>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.dir}/themis_admin_%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder charset="UTF-8">
            <pattern>${log.pattern}</pattern>
        </encoder>
    </appender>

    <appender name="errorAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.dir}/themis_admin_error.log</file>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.dir}/themis_admin_error_%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder charset="UTF-8">
            <pattern>${log.pattern}</pattern>
        </encoder>
    </appender>
    <logger name="org.apache">
        <level value="WARN"/>
        <appender-ref ref="errorAppender"/>
        <appender-ref ref="infoAppender"/>
    </logger>

    <logger name="org.springframework">
        <level value="WARN"/>
        <appender-ref ref="errorAppender"/>
        <appender-ref ref="infoAppender"/>
    </logger>
    <root>
        <level value="INFO"/>
        <appender-ref ref="console"/>
        <appender-ref ref="errorAppender"/>
        <appender-ref ref="infoAppender"/>
    </root>
</configuration>